* {
    font-family: Roboto, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2,  
.header {
    color: #F9FAF8;
}

.header,
.banner,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}

.header-right {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
}

.banner {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 30px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 1;
}

.banner img {
    flex: 1;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.banner-left p  {
    font-size: 18px;
    color: #E5E7EB;
}

.banner-left button {
    width: fit-content;
    padding: 4px 25px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 800;
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
}

.course-previews {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 100px 75px;
    gap: 50px;
}

.course-previews-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: 1F2937;
    font-weight: 900;
    text-decoration: underline #3882F6 6px;
}

.courses {
    display: flex;
    background-color: white;
    gap: 50px;
    justify-content: center;
}

.course-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.course-item img {
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

.container div {
    font-weight: 500;
    align-self: end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 100px;
}

.call-to-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    padding: 35px 100px;
    border-radius: 7px;
    color: #F9FAF8;
}

#strong {
    font-weight: 800;
    font-size: 17px;
}

#weak {
    font-size: 14px;
}

.call-to-action-container button {
    background-color: transparent;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    padding: 4px 25px;
    color: #F9FAF8;
    font-weight: 800;
    max-height: 57px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 25px;
    font-size: 14px;
}